@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --side-btn-height: 100px
}
.side-button {
    left : calc(50% + 350px);
    top : var(--side-btn-height);
    /* top : clamp(5vh,var(--side-btn-height),95vh); */
    transition: 0.25s;
}
@media (max-width : 800px){
    .side-button {
        left : calc(50% + 300px);
        top : var(--side-btn-height);
        /* top : clamp(5vh,var(--side-btn-height),95vh); */
        transition: 0.25s;
    }
}
.dragging {
    opacity: 0.7;
    overflow-y: hidden;
}
/* @media (min-width : 450px){
    .side-button {
        right : 10px;
        top : var(--side-btn-height);
        transition: 0.25s;
    }
} */
/* .selected-question {

} */
/* body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
} */

/* ol.sortable-options li.placeholder {
    position: relative; */
    /** More li styles **/
/* } */

/* ol.sortable-options li.placeholder:before {
    position: absolute; */
    /** Define arrowhead **/
/* } */